@model IEnumerable<AutoServices.Models.Cars.CarCardViewModel>

<div class="card-container">
    @foreach (var file in Model)
    {
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="@("/uploads/" + file.ExistingFilePath)" alt="Car Image">
                </div>
                <div class="flip-card-back">
                    <p><strong>Car Make:</strong> @file.Make</p>
                    <p><strong>Car Model:</strong> @file.Model</p>
                    <p><strong>Car Year:</strong> @file.Year</p>
                </div>
            </div>
        </div>
    }
</div>